<footer class="page-footer" class="black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Enlaces de interes</h5>
          <p class="grey-text text-lighten-4">Puedes visitarnos en nuestras redes sociales</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Restaurante TIC</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="autenticacion/recuperar-clave">Recuperar contraseña</a></li>
            <li><a class="grey-text text-lighten-3" href="administracion/actualizar-producto">Modificar Productos</a></li>
            <li><a class="grey-text text-lighten-3" href="administracion/actualizar-facturas">Modificar Facturas</a></li>
            <li><a class="grey-text text-lighten-3" href="administracion/buscar-empleado">Buscar empleado</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>